@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Note Apps</h1>
    <p>In this WEB APP you can create your own user an create, edit, delete or move to an archive your own notes.</p>
    <p>The back end is prepare to support TAGS. So in the future you will be able to add many tags to a note and filter by as many tags as you want.</p>
</div>
